<template>
    <b-container fluid class="footer">
        <b-container class="h-100">
            <b-row class="flex-center align-items-center px-4">
                <b-col cols="12" lg="12" class="px-2 h-100">
                    <h3>Kontakt</h3>
                    <hr/>
                    <p>
                        E-mail: kontakt@kontakt.com <br/>
                        Tel.: +387 36 123 456 <br/>
                        <span class="flex-center"> EZint @ Mostar, 2019. </span>
                    </p>
                </b-col>
            </b-row>
        </b-container>
    </b-container>
</template>

<script>
    export default {
        data () {
            return {

            }
        },
    }
</script>

<style lang="scss">
    .footer {
        background-image: url("../assets/img/nav.jpg");
        background-size: cover;
        background-position: center;
        color: #FFF !important;
        .row {
            min-height: 25vh;
        }
    }
</style>