<template lang="html">
    <b-navbar id="ezint-navbar" class="px-3 align-items-center d-flex" type="dark" toggleable="lg">
        <b-container>
            <b-navbar-brand>
                <router-link to="/"><h5 class="brand-name m-0">EZTown</h5></router-link>
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>

                <b-navbar-nav class="ml-auto flex-center">
                    <li v-for="item in nav"
                        :key="item.title" class="p-2 nav-item ml-4">
                        <router-link :to="item.href" class="menu-item">
                            {{ item.title }}
                        </router-link>
                    </li>
                    <b-nav-item-dropdown class="ml-4" v-if="user" :text="user.first_name" left>
                        <b-dropdown-item @click="$router.push('/app/profile')">
                            Profil
                        </b-dropdown-item>
                        <b-dropdown-item @click="logout">
                            Odjava
                        </b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>

            </b-collapse>
        </b-container>
    </b-navbar>
</template>

<script>
    export default {
        data() {
            return {
                items: {
                    all: [
                        {
                            title: 'Najnovije',
                            href: '/events?sort_by=new'
                        },
                        {
                            title: 'Najpopularnije',
                            href: '/events?sort_by=popular'
                        },
                        {
                            title: 'Znamenitosti',
                            href: '/monuments'
                        },
                    ],
                    guest: [
                        {
                            title: 'Prijava',
                            href: '/login'
                        },
                        {
                            title: 'Registracija',
                            href: '/register'
                        },
                    ],
                    logged: [
                        {
                            title: 'Transakcije',
                            href: '/app/transactions'
                        }
                    ]
                }
            }
        },
        computed: {
            user() {
                return this.$store.getters.loggedUser;
            },
            nav() {
                if (this.user == null) {
                    return [...this.items.all, ...this.items.guest];
                }
                switch (this.user.role_id) {
                    case 1:
                        return [...this.items.all, ...this.items.logged];
                    case 2:
                        return [...this.items.all, ...this.items.logged];
                    default:
                        return this.items.guest;
                }
            }
        },
        methods: {
            logout() {
                let self = this;
                ezintApi.post('logout').then(response => {
                    if (response.status === 200) {
                        self.$router.push({path: '/login'});
                    }
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    .brand-name {
        font-family: 'Rubik', sans-serif;
    }

    #ezint-navbar {
        min-height: 70px;
        background-image: url("../assets/img/nav.jpg");
        background-size: cover;
        background-position: center;
        background-color: #585858;
        h5 {
            color: #FFF;
            font-weight: 500;
        }
    }
    .menu-item {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
        font-size: 1rem;
    }

    .white, .router-link-exact-active{
        color: #FFF;
    }
</style>