<template>
    <b-container fluid class="flex-center">
        <b-container v-if="user">

            <b-row class="flex-center p-2">
                <b-col cols="3" class="flex-center flex-column profile">
                    <b-img :src="require('../../assets/img/profile.png')" fluid alt="Profile photo"></b-img>
                </b-col>

            </b-row>

            <b-row class="flex-center p-2">
                <b-col cols="12" class="flex-center flex-column">
                    <h4>Ime: {{user.first_name}}</h4>
                    <h4>Prezime: {{user.last_name}}</h4>
                    <h4>Email: {{user.email}}</h4>
                    <h4>Status: {{user.balance}}T</h4>
                </b-col>

            </b-row>
            <b-row class="flex-center p-2">
                <b-col cols="4" class="p-2">
                    <b-btn variant="primary"
                                   class="w-100"
                                   v-b-modal.new-tokens>
                                   Kupi tokene
                    </b-btn>
                </b-col>
            </b-row>
        </b-container>

        <b-modal centered
                 hide-footer
                 ref="new-tokens"
                 title="Kupovina tokena"
                 id="new-tokens">
            <event-form
                    :fields="formFields"
                    submit="Kupi tokene"
                    post="buy_tokens"
                    @success="formSuccess">
            </event-form>
        </b-modal>

           
    </b-container>
</template>

<script>
    export default {
        data () {
            return {
                fields: [
                    {
                        key: 'email',
                        label: 'Email:',
                        type: 'email',
                        required: true
                    },
                    {
                        key: 'password',
                        label: 'Password:',
                        type: 'password',
                        required: true
                    }
                ],
                formFields: [
                    {
                        key: 'amount',
                        label: 'Izaberite paket',
                        type: 'select',
                        required: true,
                        options: [
                            {value: 100, text: '100T - 10KM'},
                            {value: 500, text: '500T - 45KM'},
                            {value: 1000, text: '1000T - 80KM'}
                        ]
                    },
                    {
                        key: 'card_no',
                        label: 'Broj kartice',
                        type: 'text',
                        required: true
                    }
                ],
            
                
            }
        },
        computed: {
            user() {
                return this.$store.getters.loggedUser;
            },
        },
        methods: {
            formSuccess() {
                this.$refs['new-tokens'].hide();
                this.$store.dispatch('getUser');
            },
        }
    }
</script>