<template>
    <b-container fluid class="flex-center">
        <b-container>
            <b-row>
                <b-col cols="12" md="6" offset-md="3" class="pt-5 white-bg">
                    <h1 class="text-center mb-3">Transakcije</h1>
                </b-col>
            </b-row>
            <b-row class="p-4">
                <b-col cols="12" class="p-2">
                    <b-table striped hover responsive
                             show-empty
                             empty-text="Nema podataka za prikaz"
                             :items="transactions"
                             :fields="tableFields"></b-table>
                </b-col>

            </b-row>

            <b-row class="flex-center p-2">
                <b-col cols="4">
                    <b-btn variant="primary"
                           class="w-100"
                           v-b-modal.new-transaction>
                        Nova kupovina
                    </b-btn>
                </b-col>
            </b-row>
        </b-container>

        <b-modal centered
                 hide-footer
                 ref="new-transaction"
                 title="Nova kupovina"
                 id="new-transaction">
            <event-form
                    :fields="formFields"
                    submit="Kupi"
                    post="transaction"
                    @success="formSuccess">
            </event-form>
        </b-modal>

    </b-container>
</template>

<script>
    export default {
        data () {
            return {
                transactions: [],
                tableFields: [
                    {
                        key: 'created_at',
                        label: 'Datum',
                        sortable: true
                    },
                    {
                        key: 'receiver',
                        label: 'Primatelj',
                        sortable: true,
                        formatter: 'fullName'
                    },
                    {
                        key: 'sender',
                        label: 'Pošiljatelj',
                        sortable: true,
                        formatter: 'fullName'
                    },
                    {
                        key: 'amount',
                        label: 'Količina',
                        sortable: true
                    },
                ],
                formFields: [
                    {
                        key: 'item_code',
                        label: 'Unesite kod',
                        type: 'text',
                        required: true,
                    },
                ]
            }
        },
        methods: {
            getTransactions() {
                ezintApi.get('transactions').then(response => {
                    if (response.status === 200) {
                        this.transactions = response.data;
                    }
                })
            },
            formSuccess() {

            },
            fullName(value) {
                if (value == null)
                    return '';
                return `${value.first_name} ${value.last_name}`
            }

        },
        created() {
            this.getTransactions();
        }
    }
</script>