<template>
  <main id="app">
    <navbar></navbar>
    <router-view class="main-content"/>
    <footer-app></footer-app>
  </main>
</template>

<script>
  export default {
    name: 'app',
    computed: {
      isApp () {
        return this.$route.path.match('app');
      },
      storage() {
        return api.storage;
      },
      user() {
        return this.$store.getters.loggedUser
      }
    },
    created() {
      let self = this;
      ezintApi.interceptors.request.use(
              (config) => {
                let token = this.$cookie.get('ezint_token');
                if (token) {
                  config.headers['Authorization'] = 'Bearer ' + token;
                }
                return config
              },
              (error) => {
                return Promise.reject(error);
              }
      );
      ezintApi.interceptors.response.use(
              function (response) {
                return response;
              },
              function (error) {
                if (error.response.status === 401) {
                  self.$cookie.delete('ezint_token');
                  self.$router.push('/login');
                }
                console.log("An error ocurred -> " + error);
                return Promise.reject(error);
              }
      );
    },
    watch: {
      isApp: function (newVal) {
        if (newVal != null && newVal.length > 0)
          this.$store.dispatch('getUser');
      }
    }
  }
</script>

<style lang="scss">
  @import "assets/styles/app";

  .main-content {
    min-height: calc(75vh - 70px);
    > .container {
      height: 100%;
    }
  }
</style>
