<template>
    <b-container fluid class="flex-center">
        <b-container>
            <b-row class="p-4">
                <b-col cols="12" class="p-2">
                    <b-col class="eventData  flex-center flex-column">
                        <h3>
                        Neki event
                    </h3>
                    <h5>
                        Datum: 15.04. - 22.04.2019.
                    </h5>
                    <h5>
                        Cijena ulaznice: 20 <i class="fas fa-coins"></i>
                    </h5>
                    <hr/>
                    <h6 class="p-5">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                         nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                         esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                         culpa qui officia deserunt mollit anim id est laborum."</h6>
                    </b-col>
                </b-col>


            </b-row>
            <b-row class="flex-center p-2">
                <b-col cols="4">
                    <b-btn variant="primary"
                                   class="w-100"
                                   v-b-modal.new-purchase>
                                   Nova kupovina
                    </b-btn>
                </b-col>
            </b-row>
        </b-container>

        <b-modal centered
                 hide-footer
                 ref="new-purchase"
                 title="Nova kupovina"
                 id="new-purchase">
            <event-form
                    :fields="formFields"
                    submit="Kupi"
                    post="events"
                    @success="formSuccess">
            </event-form>
        </b-modal>
    </b-container>
</template>

<script>
    export default {
        data () {
            return {
                formFields: [
                    {
                        key: 'item_id',
                        label: 'Izaberite stvar',
                        type: 'select',
                        required: true,
                        options: [
                            {value: 1, text: 'Majica - 250T'},
                            {value: 2, text: 'Šalica - 100T'},
                            {value: 3, text: 'CD - 150T'},
                            {value: 4, text: 'Sve - 450T'}
                        ]
                    },
                ]
            }
        },
        methods: {
            formSuccess() {
                console.log('metoda')
            },
        }
    }
</script>

<style>

.eventData{
    background-image: url("../assets/img/event.jpg");
    background-size: cover;
    background-position: center;
    color: #FFF !important;
    height: 50vh;
}
</style>