<template>
    <b-container fluid class="flex-center">
        <b-container >
            <b-row>
                <b-col cols="12" md="6" offset-md="3" class="pt-5 white-bg">
                    <h1 class="text-center mb-3">Događaji</h1>
                </b-col>
            </b-row>
            <b-row class="p-4">
                <b-col v-if="events"
                       @click="buyEvent(event)"
                       v-for="event in events" :key="event.name + event.id" cols="12" md="6" lg="4" class="p-2">
                    <div class="wrapper-box position-relative flex-center flex-column">
                        <div v-if="event.images.length > 0" class="position-absolute wrapper-bg">
                            <b-img :src="$parent.storage + event.images[0].path"></b-img>
                            <div class="white-overlay"></div>
                        </div>
                        <h3>
                            {{event.name}}
                        </h3>
                        <h5 class="text'center">
                            Datum početka: {{event.date_from | moment("DD.MM.YYYY")}}
                        </h5>
                        <h5 class="text'center">
                            Datum završetka: {{event.date_to | moment("DD.MM.YYYY")}}
                        </h5>
                        <h5>
                            Cijena ulaznice: {{event.price}} <i class="fas fa-coins"></i>
                        </h5>
                        <b-btn variant="primary mt-4">Kupi kartu</b-btn>
                    </div>
                </b-col>
            </b-row>
            <b-row v-if="user && user.role_id === 2" class="flex-center p-2">
                <b-col cols="4">
                    <b-btn variant="primary"
                           class="w-100"
                           v-b-modal.new-event>
                        Novi događaj
                    </b-btn>
                </b-col>
            </b-row>
        </b-container>

        <b-modal v-if="user && user.role_id === 2"
                centered
                 hide-footer
                 ref="new-event"
                 title="Novi događaj"
                 id="new-event">
            <event-form
                    :fields="formFields"
                    submit="Napravi događaj"
                    post="events"
                    @success="formSuccess">
            </event-form>
        </b-modal>

        <b-modal centered
                 ref="buy-event"
                 title="Kupi kartu"
                 @ok="buyEventConfirm"
                 id="buy-event">
            <h4 v-if="selected">
                Jeste li sigurni da zelite kupiti kartu za sljedeći događaj:
                {{selected.name}}
            </h4>
        </b-modal>

        <b-modal centered
                 ref="buy-success"
                 title="Hvala vam na kupovini!"
                 id="buy-success">
        </b-modal>

        <b-modal centered
                 ref="buy-fail"
                 title="Dogodila se greška!"
                 id="buy-fail">
            <h4 v-if="error">{{error}}</h4>
        </b-modal>
    </b-container>
</template>

<script>
    export default {
        data () {
            return {
                events: null,
                selected: null,
                error: null,
                formFields: [
                    {
                        key: 'name',
                        label: 'Naziv eventa',
                        type: 'text',
                        required: true,
                    },
                    {
                        key: 'description',
                        label: 'Opis',
                        type: 'textarea',
                        required: true
                    },
                    {
                        key: 'price',
                        label: 'Cijena',
                        type: 'number',
                        required: true
                    },
                    {
                        key: 'date_from',
                        label: 'Datum od',
                        type: 'datetime-local',
                        required: true
                    },
                    {
                        key: 'date_to',
                        label: 'Datum do',
                        type: 'datetime-local',
                        required: true
                    },
                    {
                        key: 'latitude',
                        label: 'Latitude',
                        type: 'text',
                        required: true
                    },
                    {
                        key: 'longitude',
                        label: 'Longitude',
                        type: 'text',
                        required: true
                    },
                    {
                        key: 'images',
                        label: 'Slika',
                        type: 'file',
                        multiple: true,
                        required: true
                    },
                ]
            }
        },
        computed: {
            user() {
                return this.$store.getters.loggedUser
            }
        },
        methods: {
            getEvents() {
                ezintApi.get('events', {
                    params: {
                        sort_by: this.$route.query.sort_by
                    }
                }).then(response => {
                    if (response.status === 200) {
                        this.events = response.data;
                    }
                })
            },
            formSuccess() {
                this.getEvents();
                this.$refs['new-event'].hide()
            },
            buyEvent(item) {
                this.selected = item;
                this.$refs['buy-event'].show()
            },
            buyEventConfirm() {
                ezintApi.post('events/' + this.selected.id + '/buy').then(response => {
                    if (response.status === 201) {
                        this.getEvents();
                        this.$store.dispatch('getUser');
                        this.$refs['buy-success'].show();
                    }
                }).catch(error =>  {
                    this.error = error.response.data;
                    this.$refs['buy-fail'].show();
                })
            }
        },
        created() {
            this.getEvents()
        }
    }
</script>