<template>
    <div>
        <b-container fluid>
            <b-row class="flex-center align-items-center frontimg">
                <b-col cols="12" class="align-items-center justify-content-center py-4">
                    <b-row class="flex-center flex-column">
                        <h3>Grad na dlanu.</h3>
                        <b-button :to="'login'" class="px-5 mt-3" variant="outline-light">Prijava</b-button>
                    </b-row>
                </b-col>
            </b-row>
        </b-container>
        <b-container class="mt-5">
            <b-row class="justify-content-between p-4">
                <b-col cols="12" lg="4" class="px-3">
                    <h3> <span class="px-2 fas fa-calendar-day 2x"></span> Pregled događaja</h3>
                    <hr/>
                    <p>
                        Tri dana nakon što se održao vi ste saznali za neki koncert? Nikad više ne propustite važne događaje iz kulture i javnoga života
                        ili pak dobre partye koju su vrlo blizu vas! Svi bitni događaji grada su odabrani i sortirani samo za Vas!
                    </p>
                </b-col>
                <b-col cols="12" lg="4" class="px-3">
                    <h3> <span class="px-2 fas fa-city 2x"></span> Upoznajte grad</h3>
                    <hr/>
                    <p>
                        Prvi put ste u gradu? Ili pak tražite nove ljepote odavno vam poznatih ulica? Turisti ili lokalci, nama je to savim nebitno.
                        Pružamo Vam uvid u sve istražene i ne istražene kutke grada. Tražite li novo mjesto za popodnevnu kavu ili lokaciju za subotnji piknik,
                        koristeći našu aplikaciju od nje ste udaljeni samo par koraka. Ako Vam je povijest grada ipak zanimljivija, sve značajne lokacije i
                        informacije također će te pronaći na istom mjestu.
                    </p>
                </b-col>
                <b-col cols="12" lg="4" class="px-3">
                    <h3> <span class="px-2 fas fa-handshake 2x"></span> Kupovine i rezervacije</h3>
                    <hr/>
                    <p>
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit 
                        anim id est laborum."
                    </p>
                </b-col>
            </b-row>

            <b-row class="flex-center align-items-center p-4">
                <b-col cols="12" lg="12" class="px-2">
                    <h3 class="text-center">O nama</h3>
                    <hr/>
                    <p>
                        Svi događaji, znamenitosti i značajne lokacije grada na jednom mjestu.
                        Jednostavna organizacija posjeta i putovanja, ali i provoda za lokalno stanovinštvo.
                        Mjesto na kojem možete naći sve ono trenutno vrijedno pažnje u Mostaru.
                    </p>
                </b-col>
            </b-row>
        </b-container>
    </div>

</template>

<script>
    export default {
        name: 'home',
        data() {
            return {

            }
        },
    }
</script>

<style>
    .frontimg{
        background-image: url("../assets/img/landing.jpg");
        background-size: cover;
        background-position: center;
        color: #FFF !important;
        height: 60vh;
    }
</style>