<template>
    <b-container fluid class="flex-center">
        <b-container>
            <b-row>
                <b-col cols="12" md="6" offset-md="3" class="p-5 auth-bg">
                    <!--<div class="text-center">
                        <b-img src="" fluid class="mb-4"></b-img>
                    </div>-->
                    <h1 class="text-center mb-4">Prijava</h1>
                    <event-form :fields="fields"
                                submit="Login"
                                post="login"
                                @success="formSuccess"
                                class="mb-4">
                    </event-form>
                    <router-link to="/register" class="mt-4">
                        <span class="flex-center py-2">Nemate račun? Registrirajte se!</span>
                    </router-link>
                </b-col>
            </b-row>
        </b-container>
    </b-container>
</template>

<script>
    export default {
        data () {
            return {
                fields: [
                    {
                        key: 'username',
                        label: 'Email:',
                        type: 'email',
                        required: true
                    },
                    {
                        key: 'password',
                        label: 'Password:',
                        type: 'password',
                        required: true
                    }
                ]
            }
        },
        methods: {
            formSuccess() {
                this.$store.dispatch('getUser');
                this.$router.push('/events')
            }
        }
    }
</script>

<style lang="scss">

</style>