<template>
    <b-container fluid class="flex-center">
        <b-container>
            <b-row>
                <b-col cols="12" md="6" offset-md="3" class="pt-5 white-bg">
                    <h1 class="text-center mb-3">Znamenitosti</h1>
                    <h3 class="text-center">Posjetite sve znamenitosti i dobijte bonus od 1000 <i class="fas fa-coins"></i> !</h3>
                </b-col>
            </b-row>
            <b-row class="p-4">
                <b-col v-if="places"
                       @click="selectPlace(place)"
                       v-for="place in places" :key="place.name + place.id" cols="12" md="6" lg="4" class="p-2">
                    <div class="wrapper-box position-relative flex-center flex-column">
                        <div v-if="place.images.length > 0" class="position-absolute wrapper-bg">
                            <b-img :src="$parent.storage + place.images[0].path"></b-img>
                            <div class="white-overlay"></div>
                        </div>
                        <h3 class="text-center">
                            {{place.name}}
                        </h3>
                    </div>
                </b-col>
            </b-row>
            <b-row v-if="user && user.role_id === 2" class="flex-center p-2">
                <b-col cols="4">
                    <b-btn variant="primary"
                           class="w-100"
                           v-b-modal.new-monument>
                        Nova znamenitost
                    </b-btn>
                </b-col>
            </b-row>
        </b-container>

        <b-modal v-if="user && user.role_id === 2"
                 centered
                 hide-footer
                 ref="new-monument"
                 title="Nova znamenitost"
                 id="new-monument">
            <event-form
                    :fields="formFields"
                    submit="Napravi znamenitost"
                    post="places"
                    @success="formSuccess">
            </event-form>
        </b-modal>

        <b-modal centered
                 hide-footer
                 size="lg"
                 ref="info-modal"
                 title="Detaljne informacije"
                 id="info-modal">
            <b-row v-if="selected">
                <b-col cols="12">
                    <b-img fluid :src="$parent.storage + selected.images[0].path"></b-img>
                </b-col>
                <b-col cols="12" class="flex-center flex-column p-2">
                    <h4>{{selected.name}}</h4>
                </b-col>
            </b-row>
            <b-row v-if="selected">
                <b-col cols="12" class="flex-center flex-column">
                    <hr/>
                    <h6 class="p-2">{{selected.description}}</h6>
                </b-col>
            </b-row>
        </b-modal>
    </b-container>
</template>

<script>
    export default {
        data () {
            return {
                formFields: [
                    {
                        key: 'name',
                        label: 'Naziv znamenitosti',
                        type: 'text',
                        required: true,
                    },
                    {
                        key: 'description',
                        label: 'Informacije',
                        type: 'textarea',
                        required: true
                    },
                    {
                        key: 'latitude',
                        label: 'Latitude',
                        type: 'text',
                        required: true
                    },
                    {
                        key: 'longitude',
                        label: 'Logitude',
                        type: 'text',
                        required: true
                    },
                    {
                        key: 'images',
                        label: 'Images',
                        type: 'file',
                        multiple: true,
                        required: true
                    },
                ],
                places: null,
                selected: null
            }
        },
        computed: {
            user() {
                return this.$store.getters.loggedUser
            }
        },
        methods: {
            getPlaces() {
                ezintApi.get('places').then( response => {
                    if (response.status === 200) {
                        this.places = response.data;
                    }
                })
            },
            selectPlace(item) {
                this.selected = item;
                this.$refs['info-modal'].show()
            },
            formSuccess() {
                this.$refs['new-monument'].hide();
                this.getPlaces();
            },
        },
        created() {
            this.getPlaces();
        }
    }
</script>
