<template>
    <b-container class="flex-center flex-column">
      <h2>404</h2>
      <p class="mb-5">Page not found.</p>
      <router-link :to="'/'" class="btn btn-warning">Home</router-link>
    </b-container>
</template>

<style lang="scss" scoped>
</style>
