<template>
    <b-container fluid class="flex-center">
        <b-container>
            <b-row>
                <b-col cols="12" md="6" offset-md="3" class="p-5 auth-bg">
                    <!--<div class="text-center">
                        <b-img src="" fluid class="mb-4"></b-img>
                    </div>-->
                    <h1 class="text-center mb-4">Registracija</h1>
                    <event-form :fields="fields"
                                submit="Register"
                                post="register"
                                @success="$router.push('/login')"
                                class="mb-4">
                    </event-form>

                    <router-link class="mt-4"
                                 to="/login">
                        <span class="flex-center py-2">Imate račun? Prijavite se!</span>
                    </router-link>
                </b-col>
            </b-row>
        </b-container>
    </b-container>
</template>

<script>
    export default {
        data () {
            return {
                fields: [
                    {
                        key: 'email',
                        label: 'Email:',
                        type: 'email',
                        required: true
                    },
                    {
                        key: 'first_name',
                        label: 'First name:',
                        type: 'text',
                        required: true
                    },
                    {
                        key: 'last_name',
                        label: 'Last name:',
                        type: 'text',
                        required: true
                    },
                    {
                        key: 'password',
                        label: 'Password:',
                        type: 'password',
                        required: true
                    },
                    {
                        key: 'password_confirmation',
                        label: 'Confirm password:',
                        type: 'password',
                        required: true
                    }
                ]
            }
        },
    }
</script>