// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import "colors";

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-box {
    overflow: hidden;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    color: #FFF !important;
    height: 50vh;
    transition: .3s;
    .wrapper-bg {
        background: #636b6f;
        overflow: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        img {
            max-height: 100%;
        }
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
}

.white-overlay {
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 80%);
}

a {
    text-decoration: none;
    color: #32323C;
    transition: .3s;
    &:hover {
        text-decoration: none;
        color: rgba(0, 0, 0, .6);
    }
}

.auth-bg {
    background: rgba(100,100,100,.1);
    border-radius: 10px;
}
